:root{
    --color-for-hover: #03A9F4;
    --color-for-nav:#7D7D7D;
    --color-for-card-title:#B4AD9E;
    --color-for-article: #626262;
}
.menu-item{
    font-family: 'Playfair Display', serif;
    list-style: none;

    /* color: var(--color-for-nav); */
}
.link-item{
    text-decoration:none;
    color: var(--color-for-nav);
    
}
.link-item:hover{
    color: var(--color-for-hover);
}
.active{
    color:var(--color-for-hover);
}
.description{
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: var(--color-for-article);
}
.title-card{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    color: var(--color-for-article);
}
.card-item{
    list-style:none;
}
.title{
    font-family: 'Ubuntu', sans-serif;
    color:var(--color-for-card-title);
    font-size: 14px;
}
    .button{
        font-family: 'Playfair Display', serif;
    font-size: 14px;
    }
    .container{
        width: 906px;
        margin: 0 auto;
        border: 2px solid red;
    }
    .btn-wrapper{
        margin: 0 auto;
        display: flex;
        width: 200px;
        }

